* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #000;
	color: #fff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.hero-img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.2s ease-out;
	mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  	-webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

#big-name {
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 10rem;
	font-weight: 700;
	white-space: nowrap;
	background: linear-gradient(90deg, white 0%, white 100%);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-family: 'Aguafina Script';
	animation: write 5s ease both;
}

@keyframes write {
	from { background-size: 0% 100%; }
	to { background-size: 100% 100%; }
}

.content {
	padding: 5rem 2rem;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.tab {
	width: fit-content;
	border-bottom: 1px solid #555;
	transition: 0.3s;
	text-align: center;
}

.tab:hover {
	cursor: pointer;
	transform: scale(1.2);
	transition: 0.3s;
}

.tab.active {
	background-color: #3333;
	transition: 0.3s;
}

.tab-content {
	text-align: center;
	display: none;
	transition: 0.3s;
}

.tab-content.active {
	display: block;
	transition: 0.3s;
}